<h2 class="mb-0 tex text-center" mat-dialog-title>Comparte tu producto</h2>
<div mat-dialog-content>
    <div class="sharing">
      <ul class="sharing-list">
        <li class="sharing-item-tt"><i class="fa fa-twitter"></i></li>
        <li class="sharing-item-fb"><i class="fa fa-facebook"></i></li>
        <li class="sharing-item-ins"><i class="fa fa-instagram"></i></li>
      </ul>
    </div>
    <p class="text-center"><b>o copia este enlace</b></p>
    <div class="input-group mb-3">
        <input type="text" class="form-control" value="{{data.url}}" placeholder="Enlace.." aria-describedby="url">
        <div class="input-group-append">
          <span class="input-group-text" id="url">Copiar</span>
        </div>
      </div>
</div>
