<div class="option-container">
  <p>
    Carga una imagen, foto o diseño y ubicalo directamente en el producto.
    <br />
    <span
      >(Recomendamos usar imágenes con fondo transparente y de buena
      resolución).</span
    >
  </p>
  <p class="note">
    <span>Nota:</span> puedes girar y redimensionar el diseño directamente
    encima del producto.
  </p>
  <p>
    Tipos de archivos aceptados: |.png | .jpg | . jpeg | .svg | <br />
    (Tamaño máximo: 10MB)
  </p>
  <div class="terminos">
    <div class="terminos-input">
      <app-button></app-button>
      <p>
        Mediante la carga del diseño confirmas que ni infringes leyes vigentes
        ni vulneras derechos de terceros.
      </p>
    </div>
  </div>
  <p>
    ¿Tienes un tipo de archivo diferente?
    <a href="">Envíanos un correo</a> electrónico y lo tendremos listo para que
    lo uses en unas pocas horas.
  </p>
</div>
