<div class="footer-title">
    <h4>Información util</h4>
</div>
<div class="footer-contant">
    <ul>
        <li><a [routerLink]="">Gastos de envío</a></li>
        <li><a [routerLink]="">Tiempos de entrega</a></li>
        <li><a [routerLink]="">Garantia de devolución</a></li>
        <li><a [routerLink]="">Calidad de artículos</a></li>
    </ul>
</div>

<div [style.margin-top]="'25px'" class="footer-title">
    <h4>Vende con nosotros</h4>
</div>
<div class="footer-contant">
    <ul>
        <li><a [routerLink]="">Crea tu propia tienda</a></li>
        <li><a [routerLink]="">¿Es posible ganar dinero?, afiliate y gana dinero con nosotros</a></li>
    </ul>
</div>
