/*Estilos para el contenedor del panel completo del editor*/
.panel-container {
  /*Asigna color al fondo del editor*/
  background: #fcfcfc;
  /*Asigna display tipo flex*/
  display: flex;
  /*Centra el contenido del display*/
  justify-content: center;
  /*El contenido se moverá hacia arriba y abajo*/
  flex-direction: column;
  /*Asigna la altura del contenedor del panel completo*/
  height: calc(100vh - var(--header-height));
}
/*Estilos para el panel del editor*/
.panel {
  /*Asigna la altura del panel del editor*/
  height: calc(100vh - var(--height-available));
  /*Asigna altura minima del panel del editor*/
  min-height: 490px;
  /*Asigna display tipo grid*/
  display: grid;
  /*Crea dos columnas, una para el visor y la otra para las opciones*/
  grid-template-columns: 8fr 6fr;
  /*Crea un fila al maximo*/
  grid-template-rows: auto;
  /*Asigna espacio entre las filas*/
  row-gap: 18px;
  /*Asiga ancho maximo del panel*/
  max-width: 1400px;
  /*Asigna dos areas al grid*/
  grid-template-areas: "board selection";
  /* margin-top: 12px; */
  /* border: 1px solid lightgray; */
}
/*Estilos para el contenedor del visor*/
.board-container {
  /*Asigna el nombre del area del grid*/
  grid-area: board;
  /*Asigna color de fondo del area*/
  background: white;
  /*Asigna tamaño del borde del area*/
  border-radius: 4px;
}
/* Estilos para el contenedor de las opciones del editor */
.options-container {
  /*Asigna el nombre del area del grid*/
  grid-area: selection;
  /* Asigna display tipo flex */
  display: flex;
  /*El contenido se moverá hacia arriba y abajo*/
  flex-direction: column;
}
/* Estilos para el contenedor de la cabecera de las opciones del editor */
.options-container-header {
  /* Asigna color de fondo */
  background: #d7d7d7;
  /* Asigna altura */
  height: 36px;
  /* Asigna espacio de relleno arriba, derecha, abajo e izquierda */
  padding: 0 15px 0 25px;
  /* Asigna peso de la fuente */
  font-weight: bold;
}
/* Estilos para el párrafo en la cabecera de las opciones */
.options-container-header p {
  /* Sin margen en los cuatro lados */
  margin: 0;
  /* Asigna color al párrado */
  color: #222;
}
/* Estilos para el titulo de la cabecera de las opciones */
.options-container-default-title {
  /* Asigna altura al máximo */
  height: 100%;
  /* Asigna display tipo flex */
  display: flex;
  /* Asigna alineación de los elementos dentro del bloque */
  align-items: center;
}
.lateral-icons {
  padding-top: 78px;
  min-width: 40px;
  height: 100%;
  display: none;
}
.lateral-icon-container {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding-left: 7px;
  margin-bottom: 7px;
  background: red;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.12), 0 5px 5px 0 rgba(0, 0, 0, 0.14);
  clip-path: polygon(10% 0, 100% 0%, 100% 100%, 10% 100%, 0% 50%);
  border-right: 4px solid #841717;
}
.lateral-icon-container span {
  font-size: 20px;
}
.lateral-icon-container app-feather-icons {
  display: flex;
}
/* Estilos para las opciones en el editor */
.options-container-helper {
  /* Asigna color de fondo */
  background: white;
  /* Asigna display tipo grid */
  display: grid;
  /* Crea una columna */
  grid-template-columns: 1fr;
  /* Crea una fila */
  grid-template-rows: 1fr;
  /*El desbordamiento se recorta y el resto del contenido se oculta*/
  overflow: hidden;
  /* Asigna altura al máximo */
  height: 100%;
}

.info-container {
  grid-row: 1/-1;
  grid-column: 1/-1;
  background: white;
  border-radius: 4px;
  z-index: 999;
  display: none;
}
.info-container.show {
  display: initial;
}
/* Estilos para el contenedor de las opciones seleccionada */
.option-container {
  /* Asigna color de fondo */
  background: white;
  /* Asigna altura al máximo */
  height: 100%;
  /* Asigna ancho al máximo */
  width: 100%;
  /* Asigna espacio de relleno arriba, derecha, abajo e izquierda */
  padding: 10px 5px 0 15px;
  /* Agrega una transformación que dura 0.25s con un movimiento fácil */
  transition: transform 0.25s ease;
  /* Traslada las opciones al máximo del eje X */
  transform: translateX(100%);
}
/* Estilos para el contenedor de las opciones seleccionadas cuando tiene la clase open */
.option-container.open {
  /* Traslada las opciones al inicio del eje X */
  transform: translateX(0);
}
/* Estilos para el contenedor de las selecciones del editor */
.selection-container,
.option-container {
  /* Permite que el contenedor de las selecciones ocupe el mismo espacio del contenedor de las opciones */
  /* Asigna inicio y final de la fila */
  grid-row: 1/-1;
  /* Asigna inicio y final de la columna */
  grid-column: 1/-1;
}

.warning {
  margin: 0 auto;
}
.warning a {
  cursor: pointer;
}
.warning-links {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.warning-links a {
  margin: 0;
}
.warning-links a i {
  margin-right: 8px;
}
.warning-links a:first-child {
  margin-right: 10px;
}
.warning-links a:last-child {
  padding-left: 10px;
  border-left: 1px solid gray;
}

.warning-box {
  display: flex;
  background: #e6e6e6;
  justify-content: space-between;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 15px;
}
.warning-box p {
  margin: 0;
  letter-spacing: initial;
}
.warning-box p a {
  text-decoration: underline;
  color: inherit;
}
.warning-box p:first-child {
  color: #222;
  margin-bottom: 4px;
}
.warning-box p:last-child {
  margin-top: 10px;
}
.register {
  margin: 10px 0;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  background: #222;
  color: white;
  font-weight: 600;
}
.options-button-container {
  display: none;
  grid-row: 1/-1;
  grid-column: 1/-1;
  min-width: 100%;
  height: 42px;
  z-index: 9;
}
.options-button-container button {
  border: none;
  text-align: start;
  padding-left: 28px;
  font-weight: 600;
  background: #fcfcfc;
  font-family: lato, sans-serif;
  font-size: 1.15em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-right: 16px;
  padding-top: 7px;
}
.options-button-container button app-feather-icons {
  height: 24px;
  display: block;
}
.options-button-container button app-feather-icons.active {
  transform: rotate(180deg);
}
/* Estilos para las pestañas inferiores */
.tabs {
  /* Asigna tipo de display */
  display: flex;
}
/* Estilos para las pestañas inferiores de móvil */
.tabs.mobile {
  /* Oculta el elemento */
  display: none;
}
/* Estilos para las pestañas inferiores de escritorio */
.tabs.desktop {
  /* Asigna tipo de display */
  display: flex;
  /* Asigna ancho al máximo */
  width: 100%;
  /* Asigna espacio de relleno vertical y horizontal */
  padding: 9px 20px;
  /* Asigna color de fondo */
  background: #eeeeee;
  /* Dsitribuye items uniformemente, el primero al inicio, el último al final */
  justify-content: space-between;
}
/* Estilos para las opciones de producto y color en las pestañas inferiores */
.tabs-desktop-controls {
  /* Asigna tipo de display */
  display: flex;
  /* Los elementos se acomodan de arriba a abajo */
  flex-direction: column;
  /* Los items tienen el mismo espacio a su alrededor */
  justify-content: space-around;
}
/* Estilos para los productos en las pestañas inferiores */
.tabs-desktop-product {
  /* Asigna tipo de display */
  display: flex;
  /* Asigna ancho al máximo */
  width: 100%;
}
/* Estilos para el contenedor de la imagen */
.tabs-desktop-img-container {
  /* Asigna ancho */
  width: 55px;
  /* Asigna espacio de relleno */
  padding: 5px;
  /* Asigna color de fondo */
  background: white;
  /* Asigna bordes redondos */
  border-radius: 5px;
  /* Asigna margen a la derecha */
  margin-right: 12px;
}
/* Estilos para la imagen de la pestaña inferior */
.tabs-desktop-img-container img {
  /* Asigna ancho al máximo */
  width: 100%;
  /* Asigna color de fondo */
  background: #eeeeee;
}
/* Estilos para cada el item de cambiar producto y color en la pestaña inferior */
.tabs-desktop-row {
  /* Asigna tipo de display */
  display: flex;
  /* Define como los elementos flexibles se disponen a lo largo del eje secundario*/
  align-items: center;
}
/* Estilos para los párrafos de los items de producto en la pestaña inferior */
.tabs-desktop-row p {
  /* Sin margen en los cuatro lados */
  margin: 0;
}
/* Estilos para los span de los párrafos de los items de producto */
.tabs-desktop-row p span {
  /* Asigna peso de la fuente */
  font-weight: bold;
}
/* Estilos para los botones de los items de producto en la pestaña inferior */
.tabs-desktop-row button {
  /* Asigna margen a la izquierda */
  margin-left: 15px;
  /* Asigna tamaño y color de borde */
  border: 1px solid lightgray;
  /* Asigna color de fondo */
  background: white;
  /* Asigna bordes redondos */
  border-radius: 8px;
  /* Asigna espacio de relleno en los cuatro lados */
  padding: 5px;
}
/* Estilos para el contenedor de los botones a la derecha de la pestaña inferior */
.tabs-buttons {
  /* Asigna tipo de display */
  display: flex;
  /* Asigna ancho al máximo */
  width: 100%;
  /* El primer item al inicio, el último al final */
  justify-content: space-between;
}
/* Estilos para los botones a la derecha de la pestaña inferior */
.tabs-buttons button {
  /* Asigna tipo de display */
  display: flex;
  /* Sin color de fondo */
  background: none;
  /* Define como los elementos flexibles se disponen a lo largo del eje secundario*/
  align-items: center;
  /* Define como los elementos flexibles se disponen a lo largo del eje principal*/
  justify-content: center;
  /* Sin bordes */
  border: none;
  /* Asigna ancho */
  width: 140px;
  /* Sin borde a la derecha */
  border-right: none;
  /* Asigna tamaño de fuente */
  font-size: 13.5px;
  /* Asigna peso de la fuente */
  font-weight: 600;
  /* Asigna espacio de relleno en los cuatro lados */
  padding: 15px;
  /* Asigna alineamiento de texto */
  text-align: left;
  /* Asigna color */
  color: #222;
}
/* Estilos para los iconos de cada boton a la derecha */
.tabs-buttons button i,
.tabs-buttons button span {
  /* Asigna tamaño de fuente */
  font-size: 22px;
  /* Asigna margen a la derecha */
  margin-right: 16px;
}
/* Estilos para el botón de comprar ahora de la pestaña inferior */
.tabs-buttons button.buy-now {
  /* Asigna color de fondo */
  background: #cccccc;
  /* Asigna bordes redondos */
  border-radius: 10px;
}
/* En pantallas de 960 px o menos */
@media screen and (max-width: 960px) {
  /* Estilos para las pestañas inferiores */
  .tabs {
    /* Asigna tipo de posicion */
    position: fixed;
    /* Asigna posición inferior */
    bottom: 0;
    /* Asigna posición izquierda */
    left: 0;
    /* Asigna posición derecha */
    right: 0;
    /*El contenido se moverá hacia arriba y abajo*/
    flex-direction: row;
    /* Asigna el nivel de pila para que los botones queden por encima de los demás elementos */
    z-index: 99;
    /* Asigna ancho al máximo */
    width: 100%;
    /* Sin borde inferior */
    border-bottom: none;
    /* Sin espacio de relleno superior */
    padding-top: 0;
    /* Asigna tamaño de fuente */
    font-size: 11.5px;
  }
  /* Estilos para las pestañas inferiores de escritorio */
  .tabs.desktop {
    /* Oculta el elemento */
    display: none;
  }
  /* Estilos para las pestañas inferiores de móvil */
  .tabs.mobile {
    /* Renderiza el elemento */
    display: block;
  }
  /* Estilos para el contenedor de los botones principales de la pestaña inferior */
  .tabs.mobile .tabs-buttons {
    /* Asigna tipo de display */
    display: flex;
    /* Asigna anchos en los cuatro lados y color de sombras al contenedor  */
    box-shadow: 0px 10px 28px -6px rgba(0, 0, 0, 0.75);
    /* Escala el contenedor */
    transform: scale(1);
  }
  /* Estilos para el boton de calcular precio de la pestaña inferior */
  .tabs.mobile .tabs-buttons button.darker {
    /* Asigna color de fondo */
    background: #d8d8d8;
    /* Asigna color del borde inferior */
    border-bottom-color: #d8d8d8;
  }
  /* Estilos para el contenedor de los botones secundarios en la pestaña inferior */
  .tabs.mobile .tabs-options {
    /* Asigna tipo de display */
    display: flex;
    /* Asigna color de fondo */
    background: #f3f3f3e6;
    /* Asigna altura */
    height: 65px;
    /* Asigna ancho al máximo */
    width: 100%;
    /* Traslada el contenedor al máximo inferior en el eje Y */
    transform: translateY(100%);
    /* Realiza una animación al contenedor que lo hace desplazarse de abajo hacia arriba */
    animation: enter 0.3s ease-out 0s 1 normal forwards;
  }
  /* Estilos para la animación del contenedor de los botones secundarios */
  @keyframes enter {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }
  /* Estilos para los botones secundarios de la pestaña inferior */
  .tabs.mobile .tabs-options button {
    /* Sin color de fondo */
    background: none;
    /* Sin bordes inferiores */
    border-bottom: none;
  }
  /* Estilos para los botones de la pestaña inferior */
  .tabs.mobile button {
    /* Asigna color de fondo */
    background: #f3f3f3;
    /* Sin borde a la derecha */
    border-right: none;
    /* Sin borde a la izquierda */
    border-left: none;
    /* Sin borde superior */
    border-top: none;
    /* Asigna color al borde inferior */
    border-bottom-color: #f3f3f3;
  }
  /* Estilos para los botones activos de la pestaña inferior */
  .tabs button.active {
    /* Asigna tamaño y color del borde inferior */
    border-bottom: 4px solid red;
    /* Sin borde a la izquierda */
    border-left: none;
    /* Asigna color */
    color: #222;
  }
  .tabs .editor-btn.active {
    border-right: 1px solid lightgray;
  }
  /* Estilos para cuando el botón de detalle del producto está activado*/
  .tabs .detail-btn.active {
    /* Asigna tamaño y color del borde superior */
    border-top: 1px solid lightgray;
    /* Si espacio de relleno a la izquierda */
    padding-left: 0;
    /* Asigna tamaño y color del borde izquierdo */
    border-left: 1px solid lightgray;
    /* Asigna tamaño y color del borde inferior */
    border-bottom: 4px solid red;
  }
  /* Estilos para los botones con la clase space */
  .tabs button.space {
    /* Sin margen superior */
    margin-top: 0;
  }
  /* Estilos para los botones de la pestaña inferior */
  .tabs button {
    /* Asigna tamaño y color al borde inferior */
    border-bottom: 4px solid white;
    /* Asigna ancho al máximo */
    width: 100%;
    /* Asigna altura */
    height: 65px;
    /* Asigna tamaño de fuente heredada del elemento padre */
    font-size: inherit;
    /* Asigna espacio de relleno vertical y horizontal */
    padding: 10px 0;
    /* Asigna tipo de display */
    display: flex;
    /* Define como los elementos flexibles se disponen a lo largo del eje secundario*/
    align-items: center;
    /*El contenido se moverá hacia arriba y abajo*/
    flex-direction: column;
    /* Asigna alineamiento al texto */
    text-align: center;
  }
  /* Estilos para los iconos de los botones de la pestaña inferior */
  .tabs button i,
  .tabs button span {
    /* Asigna tamaño de fuente */
    font-size: 24px;
    /* Asigna margen inferior */
    margin-bottom: 3px;
    /* Asigna margen a la derecha */
    margin-right: 0;
  }
  /* Estilos para los botones de la pestaña inferior con la clase action */
  .tabs button.action {
    /* Asigna tamaño y color del borde inferior */
    border-bottom: 4px solid red;
  }
  /* Estilos para los botones de la pestaña inferior con la clase action y black */
  .tabs button.action.black {
    /* Asigna color al borde inferior */
    border-bottom-color: #333;
  }
  /*Estilos para el panel del editor*/
  .panel {
    /* Aisgna ancho al máximo */
    width: 100%;
    /* Crea una columna */
    grid-template-columns: 1fr;
    /* Crea una fila al máximo */
    grid-template-rows: auto;
    /*Asigna espacio entre las filas*/
    column-gap: 0;
    /*Asigna espacio entre las filas*/
    row-gap: 18px;
    /* Sin margen en los cuatro lados */
    margin: 0;
    /* Asigna un area al grid */
    grid-template-areas: "board";
    /* Sin espacio de relleno superior */
    padding-top: 0;
    /* Sin bordes */
    border: none;
  }
  /*Estilos para el contenedor del visor*/
  .board-container {
    /* Sin margen en los cuatro lados */
    margin: 0;
  }
  /* Estilos para el contenedor de las opciones del editor */
  .options-container {
    /* Traslada las opciones al máximo en Y */
    transform: translateY(100%);
    /* Asigna ancho al máximo */
    width: 100%;
    /* Asigna el nivel de pila para que los botones queden por encima de los demás elementos */
    z-index: 100;
    /* Asigna tipo de posicionamiento */
    position: fixed;
    /* Asigna posición desde la parte inferior */
    bottom: 0;
    /* Agrega una transformación que dura 0.25s con un movimiento fácil */
    transition: transform 0.25s ease;
  }
  /* Estilos para el contenedor de las selecciones del editor */
  .selection-container {
    /* Oculta el elemento */
    display: none;
  }
  /* Estilos para el contenedor de las opciones del editor cuando tiene la clase active */
  .options-container.active {
    /* Traslada las opciones al principio del eje Y */
    transform: translateY(0);
  }
  /* Estilos para el contenedor de las opciones seleccionada */
  .option-container {
    /* Traslada al inicio del eje X */
    transform: translateX(0);
    /* Sin espacio de relleno en los cuatro lados */
    padding: 0;
  }
  .info-container {
    padding: 0 20px;
  }
  .lateral-icons {
    display: initial;
  }
  /*Estilos para el contenedor del panel completo del editor*/
  .panel-container {
    /* Sin espacio de relleno en los cuatro lados */
    padding: 0;
    /*Asigna color al fondo del editor*/
    background: white;
    /*Asigna la altura del contenedor del panel completo*/
    height: calc(100vh - var(--height-available));
  }
}
/* En pantallas de 720 px o menos */
@media screen and (max-width: 720px) {
  /*Estilos para el panel del editor*/
  .panel {
    /* Asigna tamaño de fuente */
    font-size: 12px;
    /* Asigna altura minima */
    min-height: initial;
  }
  .lateral-icons {
    padding-top: 38px;
  }
  /* Estilos para el contenedor de las opciones del editor */
  .options-container-header {
    /* Asigna espacio de relleno arriba, derecha, abajo e izquierda */
    padding: 0 10px 0 15px;
  }
}
/* En pantallas de 500px o menos */
@media screen and (max-width: 500px) {
  /*Estilos para el panel del editor*/
  .panel {
    /* Sin margen superior */
    margin-top: 0;
  }
}
