.summary-container {
  padding: 12px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.summary-container .summary-row {
  min-width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid lightgray;
  padding: 0 5px 5px;
  margin-bottom: 5px;
}
.summary-container .summary-row:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.summary-container .summary-row span {
  border-right: 2px solid lightgray;
  padding-right: 10px;
  margin-right: 10px;
}
.summary-container .summary-row:last-child span {
  margin-right: 0;
}
.summary-container.summary-row span:last-child {
  border-right: none;
  padding: 0;
  margin: 0;
}

.summary-slider-container {
  display: flex;
  overflow: hidden;
  border: none;
}

.summary-slider-container .items {
  display: flex;
  align-items: center;
  border: none;
  width: 160px;
  transition: transform 0.2s ease;
}
.summary-container .summary-slider {
  display: flex;
}
.summary-container .item {
  border: none;
  min-width: 160px;
}

.icono-auxiliar {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .summary-container {
    padding: 12px 8px;
    font-size: 0.9em;
  }
}
