<div class="collection-grid-view flex">
    <label class="mb-0">Columnas </label>
    <ul>
        <li>
            <img src="assets/images/icon/2.png" class="product-2-layout-view" (click)="twoCol()">
        </li>
        <li>
            <img src="assets/images/icon/3.png" class="product-3-layout-view" (click)="threeCol()">
        </li>
        <li>
            <img src="assets/images/icon/4.png" class="product-4-layout-view" (click)="fourCol()">
        </li>
        <li>
            <img src="assets/images/icon/6.png" class="product-6-layout-view" (click)="sixCol()">
        </li>
    </ul>
</div>
