<div class="light-layout">
    <div class="container">
        <section class="small-section border-top-0">
            <div class="row">
                <div class="col-lg-6">
                    <div class="subscribe">
                        <div>
                            <h4>KNOW IT ALL FIRST!</h4>
                            <p>Never Miss Anything From Multikart By Signing Up To Our Newsletter. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <form class="form-inline subscribe-form" action="https://pixelstrap.us19.list-manage.com/subscribe/post?u=5a128856334b598b395f1fc9b&amp;id=082f74cbda" target="_blank" method="post">
                        <div class="form-group mx-sm-3">
                            <input type="email" #name name="EMAIL" id="mce-EMAIL" class="form-control" placeholder="Enter your email">
                        </div>
                        <button type="submit" class="btn btn-solid">subscribe</button>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>
