<!--footer section -->
<footer class="footer-light">
	<section class="section-b-space dark-layout">
		<div class="container-fdm">
			<div class="row footer-theme partition-f">
				<div class="col-lg-4 col-md-6">
					<div class="footer-title footer-mobile-title">
						<h4>about</h4>
					</div>
					<div class="footer-contant">
						<div class="footer-logo">
							<img src="assets/images/icon/logo-1.png" width="174" alt="">
						</div>
						<app-information></app-information>
						<div class="footer-logo security">
							<img src="assets/images/icon/ssl.png" width="50" alt="">
							<img src="assets/images/icon/sg.png" width="50" alt="">
						</div>
					</div>
				</div>
				<div class="col offset-xl-1">
					<div class="sub-title">
						<div class="footer-title">
							<h4>Ayuda</h4>
						</div>
						<div class="footer-contant">
							<ul class="contact-list">
								<li>Contacto</li>
								<li>Estado de mi pedido</li>
								<li>Preguntas frecuentes</li>
								<li>Mi cuenta</li>
								<li>Sobre nosotros</li>
								<li>Cesta de la compra</li>
								<li>Favoritos</li>
								<li>Número: 123-456-7898</li>
								<li>Email: <a [routerLink]="">Support@Fiot.com</a></li>
							</ul>
						</div>
					</div>
					<app-social></app-social>
				</div>
				<div class="col">
					<div class="sub-title">
						<app-why-we-choose></app-why-we-choose>
					</div>
				</div>
				<div class="col">
					<div class="sub-title">
						<app-categories></app-categories>
					</div>
				</div>
			</div>
		</div>
	</section>
	<app-logo-fourteen></app-logo-fourteen>
	<div class="sub-footer dark-subfooter ">
		<div class="container-fdm">
			<app-copyright></app-copyright>
		</div>
	</div>
</footer>

