img {
  object-fit: cover;
  // height: 229px;
}

.img-wrapper:hover {
  img{
    &:last-child {
      display: block;
    }
    &:first-child {
      display: none;
    }
  }
}
.img-wrapper {
  img{
    &:last-child {
      display: none;
    }
    &:first-child {
      display: block;
    }
  }
}

.custom__shadow{
  text-shadow: rgb(255, 255, 255) 1px 0px 0px,
  rgb(255, 255, 255) 0.540302px 0.841471px 0px,
  rgb(255, 255, 255) -0.416147px 0.909297px 0px,
  rgb(255, 255, 255) -0.989992px 0.14112px 0px,
  rgb(255, 255, 255) -0.653644px -0.756802px 0px,
  rgb(255, 255, 255) 0.283662px -0.958924px 0px,
  rgb(255, 255, 255) 0.96017px -0.279415px 0px;
}
