:host {
  padding-top: 20px;
}
.mat-stepper-vertical {
  margin-top: 8px;
}
.mat-step-icon {
  background-color: #f34423;
  color: white;
  border-radius: 0 !important;
}
.mat-form-field {
  margin-top: 16px;
}

.card {
  border-radius: 2px;
}

.mat-stepper-horizontal-line {
  border-color: #cacaca;
}
