<p>
  Guarda y comparte tu personalización de diseños y productos
  <small>(Puedes recuperar tus diseños y/o lista de deseos)</small>
  <a href="">Mas información</a>
</p>
<h2>Guardar y recuperar</h2>
<div class="draft">
  <button>Guardar borrrador</button>
  <button>Mis borrradores <span>(15)</span></button>
</div>
<h3>Comparte en medios sociales:</h3>
<div class="share">
  <div class="link-container">
    <p>https://algo.com</p>
    <span>Copiar</span>
  </div>
</div>
<div class="social-media-icons">
  <div><i></i></div>
  <div><i></i></div>
  <div><i></i></div>
  <div><i></i></div>
  <div><i></i></div>
</div>
<h3>información de producto y diseño:</h3>
<div class="info">
  <h4>Caracteristicas de producto y diseño:</h4>
  <ul>
    <li>
      <p><span>Aaaa:</span>algo más</p>
    </li>
    <li>
      <p><span>Aaaa:</span>algo más</p>
    </li>
    <li>
      <p><span>Aaaa:</span>algo más</p>
    </li>
    <li>
      <p><span>Aaaa:</span>algo más</p>
    </li>
  </ul>
</div>
