.no-orders {
    text-align: center;
}

.order-button {
    padding-top: 35px;
    text-align: right;
}

.order-button:last-child a {
    margin-left: 15px;
}

.btn-solid {
    padding: 13px 29px;
    color: #ffffff;
    letter-spacing: 0.05em;
    border: 2px solid #ff4c3b;
    border-radius: 0;
    background-image: linear-gradient(30deg, #ff4c3b 50%, transparent 50%);
    background-size: 540px;
    background-repeat: no-repeat;
    background-position: 0;
}

.btn-solid:hover {
    background-position: 100%;
    color: #000000;
    background-color: #ffffff;
}

/*---------------- Estados ---------------------------*/
.estado {
    font-size: 18px;
    font-weight: bold;
}

.recibido {
    background: green;
    padding: 0 5px;
    border-radius: 2px;
    color: aliceblue;
}

.espera {
    background-color: goldenrod;
    padding: 0 5px;
    border-radius: 2px;
}

.disputa {
    background-color: darkred;
    padding: 0 5px;
    border-radius: 2px;
    color: aliceblue;
}